.bg-image{
    background-image: url('../Images/homeImg.png');
}

.bg-signIn{
    background-image: url('../Images/signIn.png');


}

/* styles.css or any other CSS file */
@keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  